body {
  font-size: 16px;
}

.test-column {
  overflow: auto;
}

.test-container {
  width: 100%;
}

.drkl-top-container {
  position: relative;
  color: #FFFFFF;
  margin-bottom:5%;
  .drkl-top-headers {
    padding-top: 7%;
    width: 100%;
    //height:100%;
    position: absolute;
    top: 0;
  }
  .drkl-top-header {
    text-align: center;
    font-family: GibsonRegular;
    font-size: 1.5em;

  }
  .drkl-top-header-main {
    margin: 1% 5% 2.5% 5%;
    text-align: center;
    font-size: 4.5em;
    font-family: GibsonSemiBold;

  }
  .drkl-top-header-sub {
    //opacity:0.1;
    margin: 5.5% 5% 2.5% 5%;
    font-size: 1.3em;
    line-height:1.5em;
    text-align: center;
    font-family: GibsonRegular;

  }
}

.drkl-mb-slider-container {
  width: 100%;
  //background: #a0c5cc;
}

.drkl-intro-container {
  font-family: GibsonRegular;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: center;
  //text-transform: uppercase;
  margin: 20px 6% 0 6%;
}

.drkl-question-container {
  font-family: GibsonSemiBold;
  margin: 20px 3.75% 0 3.75%;
  font-size: 3.75em;
  line-height: 1.1em;
  text-align: center;
  .drkl-call-to-action{
  font-family: GibsonRegular;
    font-size: 0.45em;
    line-height: 3em;

  }
}

.drkl-interaction-container {
  opacity: 0;
  position: relative;
  height: 0px;
  overflow-y: hidden;
  padding-top: 13%;
  width: 85%;
  //height: 60px;
  margin: 20px 6% 0 18%;
  user-select: none;
  //float: left;
  .drkl-interaction-output {
    position: absolute;
    left: 0%;
    top: 0;
    //float: left;
    width: 49%;
    .drkl-interaction-output-header {
      font-family: GibsonRegular;
      font-size: 1.9em;
      font-style: italic;
    }
    .drkl-interaction-output-content {
      font-family: GibsonSemiBold;
      font-size: 3.75em;
    }

  }
  .drkl-interaction-fact {
    //user-select: none;
    opacity: 0;
    position: absolute;
    right: 0%;
    top: 0;
    //float: left;
    width: 49%;
    .drkl-interaction-fact-header {
      font-family: GibsonRegular;
      font-size: 1.9em;
      font-style: italic;
    }
    .drkl-interaction-fact-content {
      color: #767477;
      font-family: GibsonSemiBold;
      font-size: 3.75em;
    }

  }
  .drkl-interaction-button-container {
    //float: left;
    //display:none;
    //opacity:0.1;
    position: absolute;
    right: 0px;
    top: 28%;
    width: 49%;
    .drkl-interaction-button {
      user-select: none;
      border-radius: 8px;
      font-family: GibsonSemiBold;
      font-size: 2.7em;
      color: white;
      background: black;
      padding: 0.2em;
      width: 38%;
      text-align: center;
      cursor: pointer;
      &:active {
        opacity: 0.7;
      }
    }
  }
}

.drkl-feedback-container {
  width: 100%;
  height: 0px;
  overflow-y: hidden;
  .drkl-feedback-header {
    margin: 20px 6% 0 6%;
    font-family: GibsonRegular;
    font-size: 2.2em;
    text-align: center;

  }
  .drkl-feedback-content {
    margin: 20px 6% 0 6%;
    font-family: Georgia;
    font-size: 1.4em;
    line-height: 1.5em;

  }
}

.drkl-svg-container {
  //overflow-y:hidden;
  svg {
    width:100%;
    overflow: visible;
    //overflow-y:hidden;
  }
}

.drkl-page-divider {
  margin: 50px 0 100px 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .drkl-top-container {
    .drkl-top-headers {
    }
    .drkl-top-header {
      font-size: 3.1291vw;

    }
    .drkl-top-header-main {
      font-size: 9.3872vw;

    }
    .drkl-top-header-sub {
      font-size: 3.5vw;

    }
  }

  .drkl-question-container {
    font-size: 7.8229vw;
  }
  .drkl-intro-container {
    font-size: 4.2vw;
  }
  .drkl-interaction-container {
    padding-top:16%;
    .drkl-interaction-output {
      .drkl-interaction-output-header {
        font-size: 3.9635vw;
      }
      .drkl-interaction-output-content {
        font-size: 6.5vw;
      }
    }
    .drkl-interaction-fact {
      .drkl-interaction-fact-header {
        font-size: 3.9635vw;
      }
      .drkl-interaction-fact-content {
        font-size: 6.5vw;
      }

    }
    .drkl-interaction-button-container {
      bottom: 2vw;
      width: 49%;
      .drkl-interaction-button {
        border-radius: 8px;
        font-size: 5.6323vw;
        padding: 0.2em;
        width: 38%;
      }
    }
  }
  .drkl-feedback-container {
    .drkl-feedback-header {
      font-size: 6.2581vw;
    }
    .drkl-feedback-content {
      font-size: 4.2vw;
      //line-height: 4.3807vw;

    }
  }
  .drkl-page-divider {
    margin: 6.5189vw 0 13vw 0;
    width: 100%;
    text-align: center;
  }

}