@font-face{
	font-family:"gibsonLight";
	src:url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/light/gibson-light-webfont.svg") format("svg");
	font-weight:normal;
}
@font-face{
	font-family:"gibsonRegular";
	src:url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/regular/gibson-regular-webfont.svg") format("svg");
	font-weight:normal;
}
@font-face{
	font-family:"gibsonSemiBold";
	src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/semiBold/gibson-semiBold-webfont.svg") format("svg");
	font-weight:normal
}
@font-face{
	font-family:"gibsonBold";
	src:url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot");
	src:url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff2") format("woff2"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.woff") format("woff"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.ttf") format("truetype"),
	url("https://www.dr.dk/assets/fonts/gibson/bold/gibson-bold-webfont.svg") format("svg");
	font-weight:normal;
}
body {
	padding: 0px;
	margin: 0px;
}

[data-comment-wrapper] {
		max-width: 500px;
		display: flex;
		margin-bottom: 10px;
		.comment-image-wrapper {
			img {
				width: 60px;
				border-radius: 100%;
			}
		}

		.comment-content-wrapper {
			border-radius: 25px;
			background:#f2f2f2;
			margin-left: 10px;
			padding: 20px;
			h4 {
				margin: 5px 0px 5px;
				font-family: gibsonSemiBold;
				font-size: 21px;
			}
			p {
				font-size: 21px;
				font-family: gibsonRegular;
				margin-top: 0px;
			}

		}
		[data-overlay-trigger] {
			display: inline-block;
			color: #000;

		}
		[data-overlay-trigger].active {
			background: rgba(0,0,0, 0.85);
			color: #fff;
			text-decoration: none;
			box-shadow: 0 0 0px 3px rgba(0,0,0, 0.85);
		}
}

[data-overlay-contents] {

	font-family: gibsonRegular;

	position: absolute;
	margin-top: 3px;
	transform-origin: top center;
	transition: max-height 225ms ease-out;
	max-height: 0px;
	overflow: hidden;
	left:87px;
	box-sizing: border-box;
	background: rgba(0,0,0, 0.85);
	//border-radius: 25px;
	max-width: 396px;

	color: #fff;
	position: absolute;
	z-index: 10;
	&.active {
		z-index: 20;
		max-height: 300px;
	}
	.overlay-inner-wrapper {
		padding: 10px;

	}
	p {
		margin: 0;
		font-size: 20px;
	}

}
